<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>create new event:</h3>
  {{!-- this is for  event or project Create page and we called by class on java script  --}}
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">event name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      {{!-- this for fundding /Event_Place div on create page  --}}
      <div class="form-group">
        <label for="project-EventPlace">event location:</label>
        <input class="form-input" type="text" id="project-EventPlace" name="project-EventPlace" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="project-EventPlace">event date:</label>
        <input class="form-input" type="date" id="project-Eventdate" name="project-Eventdate" />
      </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">create</button>
      </div>
      {{!-- <div class="form-group">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div> --}}
      {{!-- if want add any form here before Creat btn--}}
      
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>current events:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id="delete-btn" href="/project/{{project.id}}" class="btn btn-sm btn-danger">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
