<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>hosted by: {{user.name}} on {{format_date date_created}}</p>
  {{!-- <p>{{date_of_event}}</p> --}}
  <p>
    <button class="btn btn-primary">Attend this Event!</button>
  </p>
</div>
